body {
background-image: url("img/background.jpg");
}

header{
	height: 300px;
	margin-bottom: 50px; 
	margin-right: 150px;
	margin-left: 150px;
	margin-top: 45px;
}

header img {
	float: left;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
	font-size: 60px;
	margin-bottom: 5px;
}

h2{
	font-family: 'Orbitron', sans-serif;
	margin-top: 5px;
}

#contents {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#article1 {
	width: 400px;
	height: 400px;
	float:left;
	margin-left: 150px;
	margin-bottom: 45px;
	border-style: solid;
	border-width: 20px;
	border-color: black;
	align-self:auto;
}

#article2{
	width: 400px;
	height: 400px;
	float: right;
	margin-bottom: 45px;
	border-style: solid;
	border-width: 20px;
	border-color: black;
	align-self:auto;
}

#article1 img {
	display: block;
	margin: 0px auto;
	position: relative;
	top: 50%;
	transform: translatey(-50%);
}

#article2 img {
	display: block;
	margin: 0px auto;
	position: relative;
	top: 50%;
	transform: translatey(-50%);	
}

#start {
background-color: #2ea027;
font-weight: bold;
border-radius: 80px 25px;
width: 150px;
height: 50px;
}

footer {
	display: flex;
	/*clear: both;*/
	height: 200px;
	margin-right: 150px;
	margin-left: 150px;
	margin-bottom: 200px;
}

canvas {
	margin-left: 320px;
}